<div class="row">
 <div class="col-md-6">
   <h3>Create Event</h3>
   <form action='/event' method='post'>
     <label for='name'>Name</label><br>
     <input type='text' name='name' id='name' required="true"><br>
     <label for='date'>Date</label><br>
     <input type='date' name='date' id='name' required="true"><br>
     <label for='imageurl'>Image URL</label><br>
     <input type='imageurl' name='imageurl' id='name' required="true"><br>
     <button type='submit'>Submit</button>
   </form>
 </div>
 <div class="col-md-6">
   <h1>All Events</h1>
   <ul>
     <% @events.each do |event|%>
       <p><a href="/event/<%= event.id() %>"><%=event.name%></a></p>
       <p><%=event.date%></p>
       <img class="event_logo" style="width: 150px;" src="<%=event.imageurl%>"/>
     <%end%>
   </ul>
   <hr>
 </div>
</div>

<div class="row">
 <div class="col-md-6">
   <h3>Create Artist</h3>
   <form action='/artist' method='post'>
     <label for='name'>Name</label><br>
     <input type='text' name='name' id='name' required="true"><br>
     <button type='submit'>Submit</button>
   </form>
 </div>

 <div class="col-md-6">
   <h1>All artists</h1>
   <ul>
     <% @artists.each do |artist|%>
       <p><a href="/artist/<%= artist.id() %>"><%= artist.name %></a></p>
     <%end%>
   </ul>
 </div>
</div>

<div class="row">
 <div class="col-md-6">
   <h3>Create Venue</h3>
   <form action='/venue' method='post'>
     <label for='name'>Name</label><br>
     <input type='text' name='name' id='name' required="true"><br>

     <label for='address'>Address</label><br>
     <input type='address' name='address' id='address' required="true"><br>

     <label for='imageurl'>Image</label><br>
     <input type='imageurl' name='imageurl' id='imageurl' required="true"><br>

     <button type='submit'>Submit</button>
   </form>
 </div>

 <div class="col-md-6">
   <h1>All Venues</h1>
   <ul>
     <% @venues.each do |venue|%>
       <p><a href="/venue/<%= venue.id() %>"><%= venue.name %></a></p>
       <p><%= venue.address %></p>
       <img class="venue_logo" style="width: 150px;" src="<%=venue.imageurl%>"/>
     <%end%>
   </ul>
 </div>
</div>

<div class="row">
 <div class="col-md-6">
   <h3>Create Category</h3>
   <form action='/category' method='post'>
     <label for='name'>Name</label><br>
     <input type='text' name='name' id='name' required="true"><br>

     <button type='submit'>Submit</button>
   </form>
 </div>


 <div class="col-md-6">
   <h1>All Categories</h1>
   <ul>
     <% @categories.each do |category|%>
       <p><a href="/category/<%= category.id() %>"><%= category.name %></a></p>
     <%end%>
   </ul>
 </div>
</div>

<hr>
<hr>



<div class="panel panel-default">
 <div class="panel-heading">Panel heading without title</div>
 <div class="panel-body">
   <form action="/offer" method="post">
   <label for="event_id">Select a Event</label>
   <select id='event_id' name='event_id' type='text'>
     <% @events.each() do |event| %>
       <option value="<%= event.id()%>"> <%= event.name() %> </option>
     <% end %>
   </select>

   <label for="price">Price:</label>
   <input id="price" name="price" type="number">


   <!-- <input type="checkbox" name="sell" value="false">Buy
   <input type="checkbox" name="buy" value="true">Sell -->

   <button type="submit" class="btn btn-primary">Add</button>
 </form>
 </div>
</div>
